<a href="https://colab.research.google.com/github/milfer0516/Proyecto-DataScience-Sector-Salud/blob/main/Limpieza_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/processed/hypertension_clean_1990_2019.csv")

In [3]:
df.head()

,country,year,sex,age_group,hypertension_prevalence,unit
0,Afghanistan,1990,Both sexes,All age ranges or no breakdown by age,35.5,Percentage
1,Afghanistan,1991,Both sexes,All age ranges or no breakdown by age,35.5,Percentage
2,Afghanistan,1992,Both sexes,All age ranges or no breakdown by age,35.6,Percentage
3,Afghanistan,1993,Both sexes,All age ranges or no breakdown by age,35.6,Percentage
4,Afghanistan,1994,Both sexes,All age ranges or no breakdown by age,35.7,Percentage

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5760 entries, 0 to 5759
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  5760 non-null   object
 1   year                     5760 non-null   int64
 2   sex                      5760 non-null   object
 3   age_group                5760 non-null   object
 4   hypertension_prevalence  5760 non-null   float64
 5   unit                     5760 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 270.1+ KB

In [6]:
features = (
    df
    .groupby("country")["hypertension_prevalence"]
    .agg(
        mean_prevalence="mean",
        std_prevalence="std",
        min_prevalence="min",
        max_prevalence="max"
    )
    .reset_index()
)