<a href="https://colab.research.google.com/github/milfer0516/Proyecto-DataScience-Sector-Salud/blob/main/Depuracion_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [11]:
# Extraer los datros del archivo CSV
data = pd.read_csv('./data/WB_HCP_HYPERTENSION.csv')

In [13]:
# leer las primeras filas del DataFrame
data.head()

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,AFG,Afghanistan,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,AFG,Afghanistan,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",M,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,AFG,Afghanistan,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",F,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,AFG,Afghanistan,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,AFG,Afghanistan,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",M,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public

In [14]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17280 entries, 0 to 17279
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   STRUCTURE               17280 non-null  object
 1   STRUCTURE_ID            17280 non-null  object
 2   ACTION                  17280 non-null  object
 3   FREQ                    17280 non-null  object
 4   FREQ_LABEL              17280 non-null  object
 5   REF_AREA                17280 non-null  object
 6   REF_AREA_LABEL          17280 non-null  object
 7   INDICATOR               17280 non-null  object
 8   INDICATOR_LABEL         17280 non-null  object
 9   SEX                     17280 non-null  object
 10  SEX_LABEL               17280 non-null  object
 11  AGE                     17280 non-null  object
 12  AGE_LABEL               17280 non-null  object
 13  URBANISATION            17280 non-null  object
 14  URBANISATION_LABEL      17280 non-null  object
 15  UNIT_MEASURE            17280 non-null  object
 16  UNIT_MEASURE_LABEL      17280 non-null  object
 17  COMP_BREAKDOWN_1        17280 non-null  object
 18  COMP_BREAKDOWN_1_LABEL  17280 non-null  object
 19  COMP_BREAKDOWN_2        17280 non-null  object
 20  COMP_BREAKDOWN_2_LABEL  17280 non-null  object
 21  COMP_BREAKDOWN_3        17280 non-null  object
 22  COMP_BREAKDOWN_3_LABEL  17280 non-null  object
 23  TIME_PERIOD             17280 non-null  int64
 24  OBS_VALUE               17280 non-null  float64
 25  DECIMALS                17280 non-null  int64
 26  DECIMALS_LABEL          17280 non-null  object
 27  DATABASE_ID             17280 non-null  object
 28  DATABASE_ID_LABEL       17280 non-null  object
 29  UNIT_MULT               17280 non-null  int64
 30  UNIT_MULT_LABEL         17280 non-null  object
 31  UNIT_TYPE               17280 non-null  object
 32  UNIT_TYPE_LABEL         17280 non-null  object
 33  TIME_FORMAT             17280 non-null  int64
 34  TIME_FORMAT_LABEL       17280 non-null  object
 35  OBS_STATUS              17280 non-null  object
 36  OBS_STATUS_LABEL        17280 non-null  object
 37  OBS_CONF                17280 non-null  object
 38  OBS_CONF_LABEL          17280 non-null  object
dtypes: float64(1), int64(4), object(34)
memory usage: 5.1+ MB

        TIME_PERIOD     OBS_VALUE  DECIMALS  UNIT_MULT  TIME_FORMAT
count  17280.000000  17280.000000   17280.0    17280.0      17280.0
mean    2004.500000     37.561701       1.0        0.0        602.0
std        8.655692      6.607102       0.0        0.0          0.0
min     1990.000000     17.500000       1.0        0.0        602.0
25%     1997.000000     33.300000       1.0        0.0        602.0
50%     2004.500000     37.600000       1.0        0.0        602.0
75%     2012.000000     41.800000       1.0        0.0        602.0
max     2019.000000     61.600000       1.0        0.0        602.0