<a href="https://colab.research.google.com/github/milfer0516/Proyecto-DataScience-Sector-Salud/blob/main/Depuracion_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Extraer los datros del archivo CS
data  = pd.read_csv("../data/raw/WB_HCP_HYPERTENSION.csv")

In [3]:
info_total_datos = data.shape
print(f"Total datos filas y Columnas: {info_total_datos}")

Total datos filas y Columnas: (17280, 39)

In [4]:
data.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'ACTION', 'FREQ', 'FREQ_LABEL', 'REF_AREA',
       'REF_AREA_LABEL', 'INDICATOR', 'INDICATOR_LABEL', 'SEX', 'SEX_LABEL',
       'AGE', 'AGE_LABEL', 'URBANISATION', 'URBANISATION_LABEL',
       'UNIT_MEASURE', 'UNIT_MEASURE_LABEL', 'COMP_BREAKDOWN_1',
       'COMP_BREAKDOWN_1_LABEL', 'COMP_BREAKDOWN_2', 'COMP_BREAKDOWN_2_LABEL',
       'COMP_BREAKDOWN_3', 'COMP_BREAKDOWN_3_LABEL', 'TIME_PERIOD',
       'OBS_VALUE', 'DECIMALS', 'DECIMALS_LABEL', 'DATABASE_ID',
       'DATABASE_ID_LABEL', 'UNIT_MULT', 'UNIT_MULT_LABEL', 'UNIT_TYPE',
       'UNIT_TYPE_LABEL', 'TIME_FORMAT', 'TIME_FORMAT_LABEL', 'OBS_STATUS',
       'OBS_STATUS_LABEL', 'OBS_CONF', 'OBS_CONF_LABEL'],
      dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17280 entries, 0 to 17279
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   STRUCTURE               17280 non-null  object
 1   STRUCTURE_ID            17280 non-null  object
 2   ACTION                  17280 non-null  object
 3   FREQ                    17280 non-null  object
 4   FREQ_LABEL              17280 non-null  object
 5   REF_AREA                17280 non-null  object
 6   REF_AREA_LABEL          17280 non-null  object
 7   INDICATOR               17280 non-null  object
 8   INDICATOR_LABEL         17280 non-null  object
 9   SEX                     17280 non-null  object
 10  SEX_LABEL               17280 non-null  object
 11  AGE                     17280 non-null  object
 12  AGE_LABEL               17280 non-null  object
 13  URBANISATION            17280 non-null  object
 14  URBANISATION_LABEL      17280 non-null  object
 15  UNIT_MEASURE            17280 non-null  object
 16  UNIT_MEASURE_LABEL      17280 non-null  object
 17  COMP_BREAKDOWN_1        17280 non-null  object
 18  COMP_BREAKDOWN_1_LABEL  17280 non-null  object
 19  COMP_BREAKDOWN_2        17280 non-null  object
 20  COMP_BREAKDOWN_2_LABEL  17280 non-null  object
 21  COMP_BREAKDOWN_3        17280 non-null  object
 22  COMP_BREAKDOWN_3_LABEL  17280 non-null  object
 23  TIME_PERIOD             17280 non-null  int64
 24  OBS_VALUE               17280 non-null  float64
 25  DECIMALS                17280 non-null  int64
 26  DECIMALS_LABEL          17280 non-null  object
 27  DATABASE_ID             17280 non-null  object
 28  DATABASE_ID_LABEL       17280 non-null  object
 29  UNIT_MULT               17280 non-null  int64
 30  UNIT_MULT_LABEL         17280 non-null  object
 31  UNIT_TYPE               17280 non-null  object
 32  UNIT_TYPE_LABEL         17280 non-null  object
 33  TIME_FORMAT             17280 non-null  int64
 34  TIME_FORMAT_LABEL       17280 non-null  object
 35  OBS_STATUS              17280 non-null  object
 36  OBS_STATUS_LABEL        17280 non-null  object
 37  OBS_CONF                17280 non-null  object
 38  OBS_CONF_LABEL          17280 non-null  object
dtypes: float64(1), int64(4), object(34)
memory usage: 5.1+ MB

In [6]:
data.head()

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,AFG,Afghanistan,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,AFG,Afghanistan,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",M,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,AFG,Afghanistan,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",F,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,AFG,Afghanistan,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,AFG,Afghanistan,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",M,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public

In [7]:
data.sample(5)

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
1403,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,BGD,Bangladesh,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",F,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
12923,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,PSE,West Bank and Gaza,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",F,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
17107,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,ZMB,Zambia,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",M,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
8276,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,KIR,Kiribati,WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",F,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
16955,datastructure,WB.DATA360:DS_DATA360(1.3),I,A,Annual,YEM,"Yemen, Rep.",WB_HCP_HYPERTENSION,"Prevalence of hypertension (%), ages 30-79",F,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public

In [8]:
clean_columns = [
    "REF_AREA_LABEL",
    "TIME_PERIOD",
    "SEX_LABEL",
    "AGE_LABEL",
    "OBS_VALUE",
    "UNIT_MEASURE_LABEL"
]

df = data[clean_columns].copy()

In [9]:
df.rename(columns={
    "REF_AREA_LABEL": "country",
    "TIME_PERIOD": "year",
    "SEX_LABEL": "sex",
    "AGE_LABEL": "age_group",
    "OBS_VALUE": "hypertension_prevalence",
    "UNIT_MEASURE_LABEL": "unit"
}, inplace=True)

In [10]:
df.head()

,country,year,sex,age_group,hypertension_prevalence,unit
0,Afghanistan,1990,Total,All age ranges or no breakdown by age,35.5,Percentage
1,Afghanistan,1990,Male,All age ranges or no breakdown by age,33.2,Percentage
2,Afghanistan,1990,Female,All age ranges or no breakdown by age,37.7,Percentage
3,Afghanistan,1991,Total,All age ranges or no breakdown by age,35.5,Percentage
4,Afghanistan,1991,Male,All age ranges or no breakdown by age,33.3,Percentage

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17280 entries, 0 to 17279
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  17280 non-null  object
 1   year                     17280 non-null  int64
 2   sex                      17280 non-null  object
 3   age_group                17280 non-null  object
 4   hypertension_prevalence  17280 non-null  float64
 5   unit                     17280 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 810.1+ KB

In [12]:
df["sex"].value_counts()

sex
Total     5760
Male      5760
Female    5760
Name: count, dtype: int64

In [ ]:
sex_mapping = {
    "Total": "Both sexes",
    "Both sexes": "Both sexes",
    "Male": "Male",
    "Female": "Female"
}
df["sex"] = df["sex"].map(sex_mapping)

sex
Both sexes    5760
Male          5760
Female        5760
Name: count, dtype: int64

In [15]:
df["sex"].value_counts(dropna=False)

sex
Both sexes    5760
Male          5760
Female        5760
Name: count, dtype: int64

In [16]:
df["unit"].value_counts()

unit
Percentage    17280
Name: count, dtype: int64

In [18]:
df_total = df[df["sex"] == "Both sexes"].copy()

In [19]:
df_total["hypertension_prevalence"].describe()

count    5760.000000
mean       37.618819
std         6.245929
min        19.800000
25%        33.800000
50%        37.650000
75%        41.800000
max        56.600000
Name: hypertension_prevalence, dtype: float64

In [20]:
df_total["year"].min(), df_total["year"].max()

(np.int64(1990), np.int64(2019))

In [21]:
df_total["country"].nunique()

192

In [22]:
df_total.columns

Index(['country', 'year', 'sex', 'age_group', 'hypertension_prevalence',
       'unit'],
      dtype='object')

In [23]:
output_path = "../data/processed/hypertension_clean_1990_2019.csv"

In [24]:
df_total.to_csv(output_path, index=False)

In [25]:
pd.read_csv(output_path).head()

,country,year,sex,age_group,hypertension_prevalence,unit
0,Afghanistan,1990,Both sexes,All age ranges or no breakdown by age,35.5,Percentage
1,Afghanistan,1991,Both sexes,All age ranges or no breakdown by age,35.5,Percentage
2,Afghanistan,1992,Both sexes,All age ranges or no breakdown by age,35.6,Percentage
3,Afghanistan,1993,Both sexes,All age ranges or no breakdown by age,35.6,Percentage
4,Afghanistan,1994,Both sexes,All age ranges or no breakdown by age,35.7,Percentage